<section class="content-section">

  <article>

    <h2>Companies/Clients I've Worked With</h2>
    <p>American Dental Association, American Express, Base, Casper, Crate&amp;Barrel, Facebook, Google, Groupon, Lightbank, New World Ventures, Samsung, World Wildlife Fund.</p>
  </article>

</section>