<section class="customer-list">

  <article>

    <h2 class="rule">Companies Who Use Things I’ve Designed</h2>
    <ul class="logo-grid">
      <li><img src="/static/images/client-logos/american-dental-association@2x.png" width="200" height="200" alt="American Dental Association"/></li>
      <li><img src="/static/images/client-logos/american-express@2x.png" width="200" height="200" alt="American Express"/></li>
      <li><img src="/static/images/client-logos/casper@2x.png" width="200" height="200" alt="Casper"/></li>
      <li><img src="/static/images/client-logos/crate-and-barrel@2x.png" width="200" height="200" alt="Crate&Barrel"/></li>
      <li><img src="/static/images/client-logos/facebook@2x.png" width="200" height="200" alt="Facebook"/></li>
      <li><img src="/static/images/client-logos/google@2x.png" width="200" height="200" alt="Google"/></li>
      <li><img src="/static/images/client-logos/groupon@2x.png" width="200" height="200" alt="Groupon"/></li>
      <li><img src="/static/images/client-logos/lightbank@2x.png" width="200" height="200" alt="Lightbank"/></li>
      <li><img src="/static/images/client-logos/pritzker-group-vc@2x.png" width="200" height="200" alt="Pritzker Group Venture Capital"/></li>
      <li><img src="/static/images/client-logos/samsung@2x.png" width="200" height="200" alt="Samsung"/></li>
      <li><img src="/static/images/client-logos/wwf@2x.png" width="200" height="200" alt="World Wildlife Fund"/></li>
    </ul>
  </article>

</section>