<!--<section id="dribbble-data" class="grid-block">Loading...</section>-->

<section class="content-section dribbble-feed" data-limit="6">

  <header class="section-header">
    <h2 class="rule">Recent Work <a class="view-more-link" href="http://dribbble.com/m_masnjak" target="_blank">View More &rang;</a></h2>
  </header>

  <article id="dribbble-data" class="thumbnails">Loading...</article>

</section>