<section class="content-section--dribbble">
  
  <article>
    <h2>Recent Dribbble Shots <a href="https://dribbble.com/m_masnjak" target="_blank">Follow Me &rsaquo;</a></h2>
    <div id="dribbble-feed" class="collection loading"></div>
  </article>

</section>