<header class="main-header">
  <a class="logo" href="/">
    <span class="name">Marko Masnjak</span>
    Product Designer
  </a>

  <div data-mobile-navigation-show="true">
    <ul>
      <li><a href="http://dribbble.com/m_masnjak" target="_blank">Dribbble</a></li>
      <li><a href="https://instagram.com/mmasnjak" target="_blank">Instagram</a></li>
      <li><a href="http://www.linkedin.com/in/markomasnjak" target="_blank">LinkedIn</a></li>
      <li><a href="http://twitter.com/m_masnjak" target="_blank">Twitter</a></li>
    </ul>
  </div>
  
  <!--
	  <ul>
	    <li><a href="https://dl.dropboxusercontent.com/u/635881/m_masnjak_resume_2015.pdf" target="_blank">Resume</a></li>
	    <li><a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#109;&#097;&#114;&#107;&#111;&#109;&#097;&#115;&#110;&#106;&#097;&#107;&#046;&#099;&#111;&#109;?Subject=Hello">Email</a></li>
	  </ul>
  -->
  
</header>