<nav class="main-navigation">
  <div class="logo">
    <strong>Marko Masnjak</strong>
    <span>Product Designer</span>
  </div>
  
  <ul class="social-links">
    <li><a href="https://twitter.com/m_masnjak" target="_blank">Twitter</a></li>
    <li><a href="https://dribbble.com/m_masnjak" target="_blank">Dribbble</a></li>
    <li><a href="https://instagram.com/mmasnjak" target="_blank">Instagram</a></li>
    <li><a href="https://www.linkedin.com/in/markomasnjak" target="_blank">LinkedIn</a></li>
  </ul>
  
  <ul>
    <li><a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#109;&#097;&#114;&#107;&#111;&#109;&#097;&#115;&#110;&#106;&#097;&#107;&#046;&#099;&#111;&#109;?Subject=Hello">Email</a></li>
  </ul>
</nav>

<figure class="photo-header">
  <img src="/static/images/profile.png" alt="Marko Masnjak | Product Designer in Chicago"/>
  <figcaption class="photo-credit">Photo: <a href="https://www.instagram.com/elizabethgilmore" target="_blank">Elizabeth Gilmore</a></figcaption>
</figure>