<section class="content-section--instagram">
  
  <article>
    <h2>Recent photos on Instagram <a href="https://instagram.com/mmasnjak" target="_blank">Follow Me &rsaquo;</a></h2>
    <div id="instagram-feed" class="collection loading"></div>
  </article>

</section>