<section class="content-section profile">

  <header class="section-header">

    <img src="/static/images/profile.png" alt="Marko Masnjak Profile" />
    <h2 class="rule">Profile</h2>
    <h1>Hello. I’m a designer who loves creating product experiences that connect with users on a deep emotional level. I&rsquo;m the Lead Product Designer for <a href="https://dscout.com" target="_blank">dscout</a>, <a href="https://www.dropbox.com/sh/6s1annxpscqjokb/DX2W9wPmsu" target="_blank">snow carver</a>, husband, father, dog lover and coffee addict.</h1>

  </header>

  <article class="description">

    <h2 class="rule">About</h2>

    <p>I&rsquo;m a Chicago native who likes to get my hands dirty and completely immerse myself into complex design problems that can&rsquo;t be Googled. I will experiment, research, revise and learn anything possible in order to solve it with a simple, clear, modern design&nbsp;solution.</p>

    <p>As a designer, I&rsquo;m passionate about typographic design, bringing the elegance of classic modern design to the digital landscape and creating experiences that touch users on a very deep emotional level. I believe that design &mdash; regardless of medium &mdash; is something to experience and increases the value of anything it&nbsp;touches.</p>

    <p>Prior to joining <a href="https://dscout.com" target="_blank">dscout</a>, I spent a few years working with many Chicago-based startups to bring their first MVPs to market. Following that experience, I led the design team at <a href="https://getbase.com" target="_blank">Base</a> during a large growth period that began with a second round funding of $6.8M through a Series B round of $15M and contributed to significant leaps in the product&rsquo;s&nbsp;capabilities.</p>

    <p>I&rsquo;m a proud coffee addict always looking for my next fix. Chicago isn&rsquo;t a coffee desert by an means, however, I&rsquo;ve yet to find a cappuccino that even compares to those I&rsquo;ve enjoyed in Italy &mdash; but there&rsquo;s still&nbsp;hope.</p>

  </article>

  <aside>

    <h2 class="rule">Specialties</h2>
    <ul>
      <li>Art Direction</li>
      <li>Brand Identity</li>
      <li>iOS App Design</li>
      <li>Material Design</li>
      <li>Prototyping with QC/Origami</li>
      <li>Responsive Web Design</li>
      <li>User Interface Design</li>
    </ul>

    <h2 class="rule">Involvement</h2>
    <ul>
      <li>AIGA</li>
      <li>STA Chicago</li>
    </ul>

  </aside>

  <aside>

    <h2 class="rule">Companies who use things I&rsquo;ve designed and&nbsp;built</h2>
    <ul>
      <li>American Dental Association</li>
      <li>American Express</li>
      <li>Casper</li>
      <li>Crate&amp;Barrel</li>
      <li>Facebook</li>
      <li>Google</li>
      <li>Groupon</li>
      <li>Lightbank</li>
      <li>New World Ventures</li>
      <li>Samsung</li>
      <li>World Wildlife Fund</li>
    </ul>

  </aside>


</section>
