<section class="content-section profile">

  <header class="section-header">

    <img src="/static/images/profile.png" alt="Marko Masnjak Profile" />
    <h2 class="rule">Profile</h2>
    <h1>Hello. I create product experiences that touch users on a deep emotional level. I&rsquo;m a Product Designer at <a href="https://braintreepayments.com" target="_blank">Braintree</a>, <a href="https://www.dropbox.com/sh/6s1annxpscqjokb/DX2W9wPmsu" target="_blank">snow carver</a>, husband, father, dog lover and coffee&nbsp;junkie.</h1>

  </header>

  <article class="description">

    <h2 class="rule">About</h2>
    <p>Born and raised in Chicago, I love getting my hands dirty with complex problems that can&rsquo;t be Googled. As a designer, I&rsquo;m passionate about creating highly aesthetic, user-centered design solutions that exhibit exceptional clarity and simplicity. I believe form absolutely follows function and design &mdash; regardless of medium &mdash; is something to experience and increases the value of anything it&nbsp;touches.</p>
    <p>My background is a unique mix of Computer Science, Technical Communication and Visual Communication. As a result, I&rsquo;m able to see problems from different perspectives in order to holistically understand a product and all its complexities. From that point, it&rsquo;s all about iterating and prototyping design options until the proper solution&nbsp;emerges.</p>
    <p>While software engineering isn&rsquo;t my focus, I believe that designers need to be comfortable with code and should understand the platform they&rsquo;re designing for. Knowing what it takes to build something you design &mdash; in the context of where users will use it &mdash; plays a significant role in making the right decisions when designing a product experience. Additionally, it builds empathy for and camaraderie with engineers you work with while also improving communication within the&nbsp;team.</p>
    <p>Prior to joining <a href="https://dscout.com" target="_blank">dscout</a>, I spent a few years working with Chicago-based startups bringing their first MVPs to market. Following that experience, I led the design team at <a href="http://getbase.com" target="_blank">Base</a> during a large growth period that began with a second round funding of $6.8MM through a Series B round of $15MM and contributed to significant leaps in the product&rsquo;s&nbsp;capabilities.</p>
    <p>During my spare time, if I&rsquo;m not watching <a href="https://www.youtube.com/watch?v=moSFlvxnbgk" target="_blank">Frozen</a> and eating Count Chocula with my <a href="https://instagram.com/p/6FmbjTQhIP/?taken-by=mmasnjak" target="_blank">daughter</a>, or picking out MidMod furniture with my wife, I&rsquo;m a proud coffee addict looking for my next fix, Portillo&rsquo;s enthusiast and Rick Steves&nbsp;fanboy.</p>
    <p>Feel free to <a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#109;&#097;&#114;&#107;&#111;&#109;&#097;&#115;&#110;&#106;&#097;&#107;&#046;&#099;&#111;&#109;?Subject=Hello" target="_blank">get in touch</a>. I'm always eager to meet new&nbsp;people.</p>

  </article>

  <aside>

    <h2 class="rule">Skills and Expertise</h2>
    <ul>
      <li>Adobe Creative Cloud</li>
      <li>Apple&rsquo;s Human Interface Guidelines</li>
      <li>Avocado by IDEO</li>
      <li>Google&rsquo;s Material Design</li>
      <li>InVision</li>
      <li>Origami by Facebook</li>
      <li>Sketch</li>
      <li>Trello</li>
    </ul>

    <ul>
      <li>Git</li>
      <li>HTML5/Haml</li>
      <li>CSS3/Sass/Less</li>
      <li>Javascript/jQuery</li>
      <li>Middleman</li>
    </ul>
    <p>&mdash;</p>
    <p>I&rsquo;m also familiar with Coffeescript, Java, Objective-C, React and Ruby (Rails) for the purpose of understanding what&rsquo;s happening in a&nbsp;project.</p>

  </aside>

  <aside>

    <h2 class="rule">Practice Areas</h2>
    <ul>
      <li>Art Direction</li>
      <li>Brand Identity</li>
      <li>Interaction Design</li>
      <li>Product Strategy</li>
      <li>Prototyping</li>
      <li>Responsive Web Design</li>
      <li>UI/UX Design</li>
      <li>Visual Design</li>
    </ul>

    <h2 class="rule">Involvement</h2>
    <ul>
      <li>AIGA Chicago</li>
      <li>STA Chicago</li>
    </ul>

  </aside>

</section>
