<section class="content-section--social-feeds">

  <article>
    <h2>Tweets <a href="https://twitter.com/m_masnjak" target="_blank">Follow Me &rsaquo;</a></h2>
    <div id="twitter-feed" class="social-feed loading"></div>
  </article>

  <article>
    <h2>Photos <a href="https://twitter.com/m_masnjak" target="_blank">Follow Me &rsaquo;</a></h2>
    <div id="instagram-feed" class="social-feed loading"></div>
  </article>

  <article>
    <h2>Shots <a href="https://twitter.com/m_masnjak" target="_blank">Follow Me &rsaquo;</a></h2>
    <div id="dribbble-feed" class="social-feed loading"></div>
  </article>

</section>
