<section class="content-section twitter-feed">

  <header class="section-header">
    <h2 class="rule">Latest Tweets <a href="http://twitter.com/m_masnjak" target="_blank">Follow Me</a></h2>
  </header>

  <article id="tweets" class="tweet-list">Loading...</article>

</section>
