<section class="content-section twitter-feed">

  <header class="section-header">
    <h2 class="rule">Latest tweets <a class="view-more-link" href="http://twitter.com/m_masnjak" target="_blank">Follow &rang;</a></h2>
  </header>

  <article id="tweets" class="tweet-list"><div class="loading-message">Loading...</div></article>

</section>
