<section class="content-section--twitter">
  
  <article>
    <h2>Recent Tweets <a href="https://twitter.com/m_masnjak" target="_blank">Follow Me &rsaquo;</a></h2>
    <div id="twitter-feed" class="collection loading"></div>
  </article>

</section>