// COLORS ------------------------------------------------------------------------

$color-interaction-tint: rgb(52, 170, 220);
$color-primary:          rgb(31, 31, 31);
$color-error:            rgb(255, 58, 45);

$color-UIGrey1:          rgb(247, 247, 247);
$color-UIGrey2:          rgb(199, 199, 204);
$color-UIGrey3:          rgb(189, 190, 194);
$color-UIGrey4:          rgb(142, 142, 147);

// TYPOGRAPHY --------------------------------------------------------------------

$font-stack:             FFMark, Arial, sans-serif;

$font-size-small:        0.9rem;
$font-size-normal:       1.3rem;
$font-size-medium:       1.95rem;
$font-size-large:        2.95rem;

$font-leading-normal:    1.5em;
$font-leading-large:     1.3em;

$font-weight-light:      300;
$font-weight-normal:     400;
$font-weight-medium:     500;
$font-weight-bold:       600;

// BORDERS & SHADOWS -------------------------------------------------------------

$color-border:           rgba(0, 0, 0, 0.12);

// UNITS & GRID ------------------------------------------------------------------

$base-rem-unit:          10px;
$base-grid-unit:         16px;

$header-width:           264px;
$row-width:              1600px;
$total-columns:          12;
$column-gutter:          32px;

// MEDIA QUERIES ------------------------------------------------------------------

$breakpoint-small:      400px  !default;
$breakpoint-medium:     800px  !default;
$breakpoint-large:      1600px !default;
$breakpoint-xlarge:     3200px !default;

$screen:                "only screen" !default;

$landscape:             "#{$screen} and (orientation: landscape)" !default;
$portrait:              "#{$screen} and (orientation: portrait)"  !default;

$small-up:              $screen !default;
$medium-up:             "#{$screen} and (min-width:#{$breakpoint-small})"  !default;
$large-up:              "#{$screen} and (min-width:#{$breakpoint-medium})" !default;
$xlarge-up:             "#{$screen} and (min-width:#{$breakpoint-large})"  !default;

$retina:                (
                          "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
                          "#{$screen} and (min--moz-device-pixel-ratio: 2)",
                          "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
                          "#{$screen} and (min-device-pixel-ratio: 2)",
                          "#{$screen} and (min-resolution: 192dpi)",
                          "#{$screen} and (min-resolution: 2dppx)"
                        );