$color-black-85:       rgba(black, .85);
$color-black-54:       rgba(black, .54);
$color-black-38:       rgba(black, .38);
$color-black-25:       rgba(black, .25);
$color-black-12:       rgba(black, .12);

$color-white-85:       rgba(white, .85);
$color-white-54:       rgba(white, .54);
$color-white-38:       rgba(white, .38);
$color-white-12:       rgba(white, .12);

$color-primary:        #007cd9;

$color-border:         $color-black-12;
$color-shadow:         rgba(black, .1);

$color-text:           black;
$color-text-disabled:  $color-black-38;
$color-text-secondary: $color-black-54;

// Typography -------------------------------------------------------------------

$type-root:          10px;

$font-size-small:    1.0rem;
$font-size-normal:   1.4rem;
$font-size-medium:   2.2rem;
$font-size-large:    3.4rem;
$font-size-xlarge:   4.8rem;

$line-height-small:  1.83333333333em;
$line-height-normal: 1.71428571429em;
$line-height-medium: 1.45454545455em;
$line-height-large:  1.29411764706em;
$line-height-xlarge: 1.20833333333em;

// Units ------------------------------------------------------------------------

$base-unit:     8px;

$spacer-xsmall: $base-unit / 2;
$spacer-small:  $base-unit;
$spacer-normal: $base-unit * 2;
$spacer-medium: $base-unit * 4;
$spacer-large:  $base-unit * 8;

$navbar-height: 68px;

// Breakpoints ------------------------------------------------------------------

$screen-small:  400px;
$screen-medium: 769px;
$screen-large:  1025px;
$screen-xlarge: 1600px;

$max-width:     1600px;

// Transitions ------------------------------------------------------------------

$transition-bounce: cubic-bezier(0.000, 0.405, 0.000, 1.285);
