.works {
  @include grid-row();

  .item {
    @include grid-column($columns:12, $collapse:true);
    padding: 1px;

    .item-meta { display: none; }

    img {
      margin: 0;
      width: 100%;
    }

    @media #{$medium-up} {
      @include grid-column($columns:6, $collapse:true);
      padding: 1px;
    }

    @media #{$large-up} {
      @include grid-column($columns:4, $collapse:true);
      padding: 1px;
    }
  }
}