@import 'normalize';
@import 'variables';
@import 'functions';

@import '_components/grid';
@import '_components/typography';
@import '_components/header';
@import '_components/footer';
@import '_components/tweets';


* { box-sizing: border-box; }

::-moz-selection {
  background: $color-border;
}

::selection {
  background: $color-border;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: $row-width - $header-width;
  padding: 0 grid-units(2) grid-units(2) $header-width;
}

body {
  background-color: #fafafa;
  font-size: 10px;
  line-height: 1.5em;
}

a {
  color: $color-interaction-tint;

  &:hover {
    opacity: 0.5;
  }
}

img {
  display: block;
  margin: 0 0 1em;
  max-width: 100%;
  height: auto;
}

.rule {
  border-top: 1px solid $color-border;
  display: block;
  margin-top: grid-units(2);
  padding-top: grid-units();
}

.content-section {
  @include grid-row();

  .section-header {
    @include grid-column(12);
  }

  .section-footer {
    @extend .rule;
    @include grid-column(12);
  }
}

.content-section.profile {

  article {
    @include grid-column(12);

    @media #{$large-up} {
      @include grid-column(6);
    }
  }

  aside {
    @include grid-column(12);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @media #{$medium-up} {
      @include grid-column(6);
    }

    @media #{$large-up} {
      @include grid-column(3);
    }
  }
}