@import 'normalize';
@import 'variables';
@import 'typography';

main {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 16px;
}

body {
  background-color: #fafafa;
  font-size: 10px;
  line-height: 1.5em;
}

a {
  color: $color-interaction-tint;

  &:hover {
    opacity: 0.5;
  }
}