[submodule "source/static/third-party/bower-foundation"]
	path = source/static/third-party/bower-foundation
	url = https://github.com/zurb/bower-foundation.git
[submodule "source/static/third-party/jribbble"]
	path = source/static/third-party/jribbble
	url = https://github.com/tylergaw/jribbble.git
