@font-face {
	font-family: FFMark;
	font-weight: 300;
	font-style: normal;
	src: url("/static/fonts/FFMark/MarkWeb-Light.eot");
	src: url("/static/fonts/FFMark/MarkWeb-Light.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 300;
	font-style: italic;
	src: url("/static/fonts/FFMark/MarkWeb-LightItalic.eot");
	src: url("/static/fonts/FFMark/MarkWeb-LightItalic.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 400;
	font-style: normal;
	src: url("/static/fonts/FFMark/MarkWeb.eot");
	src: url("/static/fonts/FFMark/MarkWeb.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 400;
	font-style: italic;
	src: url("/static/fonts/FFMark/MarkWeb-Italic.eot");
	src: url("/static/fonts/FFMark/MarkWeb-Italic.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 500;
	font-style: normal;
	src: url("/static/fonts/FFMark/MarkWeb-Medium.eot");
	src: url("/static/fonts/FFMark/MarkWeb-Medium.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 500;
	font-style: italic;
	src: url("/static/fonts/FFMark/MarkWeb-MediumItalic.eot");
	src: url("/static/fonts/FFMark/MarkWeb-MediumItalic.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 600;
	font-style: normal;
	src: url("/static/fonts/FFMark/MarkWeb-Bold.eot");
	src: url("/static/fonts/FFMark/MarkWeb-Bold.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 600;
	font-style: italic;
	src: url("/static/fonts/FFMark/MarkWeb-BoldItalic.eot");
	src: url("/static/fonts/FFMark/MarkWeb-BoldItalic.woff") format("woff");
}