.main-navigation {
  background-color: rgba(white, .95);
  box-shadow: 0px 4px 32px rgba(black, .1);
  left: 0;
  padding: 0 $spacer-normal;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  @include backdrop-filter();
  @include clearfix();
  @include transition(all 200ms);

  .logo {
    background: url(/static/images/logo@2x.png) left center no-repeat;
    background-size: 36px 36px;
    float: left;
    line-height: $navbar-height;
    padding-left: 36px + $spacer-normal;

    strong {
      display: block;

      @include transition();

      @include media($screen-medium) {
        display: block;
        opacity: 0;
      }
    }

    span {
      color: $color-text-secondary;
      display: none;

      @include transition(all 200ms);

      @include media($screen-medium) {
        display: block;
        opacity: 0;
      }
    }

    @include media($screen-medium) {
      background-position: left top;
      background-size: 48px 48px;
      float: inherit;
      line-height: inherit;
      margin-bottom: $spacer-normal;
      padding-left: 0;
      padding-top: 48px + $spacer-normal;
    }
  }

  ul {
    float: right;
    line-height: $navbar-height;
    list-style: none;
    margin: 0;
    padding: 0;

    @include transition();

    li {
      margin: 0 $spacer-small;

      @include media($screen-medium) {
        margin: 0;
      }
    }

    @include media($screen-medium) {
      float: inherit;
      line-height: inherit;
      margin: $spacer-normal 0;
      opacity: 0;
    }
  }

  .social-links {
    display: none;

    @include media($screen-medium) {
      display: block;
    }
  }

  a {
    color: $color-text-secondary;

    &.active {
      border-left: 3px solid black;
      color: black;
    }
  }

  @include media($screen-medium) {
    background-color: transparent;
    box-shadow: none;
    padding: $spacer-medium $spacer-normal;
    width: 25%;

    @include backdrop-filter(0px);
  }

  @include media($screen-large) {
    width: 20%;
  }

  @include media($screen-large) {
    width: 15%;
  }
}

.main-navigation.show {
  ul, strong, span {
    opacity: 1;
  }
}
