.content-section--clients {
  @extend .content-section;
}

.logo-grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  
  li {
    padding: $spacer-normal;
    width: 33.333333%;
    
    @include media($screen-small) {
      padding: $spacer-medium;
      width: 25%;
    }
    
    @include media($screen-medium) {
      width: 20%;
    }
    
    @include media($screen-large) {
      width: 16.6666666667%;
    }
    
    @include media($screen-xlarge) {
      width: 12.5%;
    }
  }
}