$dribbble-icon-size: 12px;

@mixin dribbble-icon($image: '') {
  background: url($image) left center no-repeat;
  background-size: $dribbble-icon-size $dribbble-icon-size;
  display: inline-block;
  line-height: $dribbble-icon-size;
  padding-left: $dribbble-icon-size + $spacer-xsmall;
  padding-right: $spacer-normal;
}

.content-section--dribbble {
  @extend .content-section;
  padding-bottom: 0;
}

.dribbble-item {
  color: $color-text;
  display: block;
  
  @include transition(all 200ms);
  
  &:hover {
    opacity: 1;
  }
  
  &:active {
    @include transform(scale(.95));
  }
  
  .views {
    @include dribbble-icon('/static/images/ic-view-black38@2x.png');
    display: none;
  }
  
  .favorites {
    @include dribbble-icon('/static/images/ic-favorite-black38@2x.png');
    display: none;
  }
  
  .comments {
    @include dribbble-icon('/static/images/ic-comment-black38@2x.png');
    display: none;
  }
}