.content-section--profile {
  @extend .content-section;

  display: flex;
  flex-wrap: wrap;

  header {
    width: 100%;
  }

  article {
    width: 100%;

    @include media($screen-large) {
      padding-right: $spacer-large;
      width: 50%;
    }
  }

  aside {
    display: none;
    width: 100%;

    @include media($screen-small) {
      display: block;
      padding-right: $spacer-medium;
      width: 50%;
    }

    @include media($screen-large) {
      padding-right: $spacer-large;
      width: 25%;
    }

    &:last-child {
      padding: 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;
  }
}
