$logo-size: 36px;
$logo-size-small: 44px;

.main-header {
  background: #fafafa;
  border-bottom: 1px solid $color-divider;
  color: $color-secondary-text;
  left: 0;
  padding: grid-units(.5);
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;

  a {
    color: $color-text;
    text-decoration: none;
  }

  a.logo {
    background: url(/static/images/ic-menu@2x.png) left center no-repeat;
    background-size: $logo-size-small;
    display: block;
    font-size: $font-size-normal;
    line-height: 34px;
    padding-left: $logo-size-small + grid-units(.5);
    padding-right: $logo-size-small + grid-units(.5);
    text-decoration: none;

    .name {
      color: $color-base;
      font-weight: $font-weight-medium;
    }

    &:hover {
      opacity: 1;
    }
  }

  ul, .small-only { display: none; }

  @media #{$medium-up} {
    background: transparent;
    border: none;
    padding: grid-units(2);
    text-align: left;
    width: $header-width;

    a.logo {
      background-image: url(/static/images/logo@2x.png);
      background-position: left top;
      background-size: $logo-size;
      line-height: $font-leading-normal;
      padding-left: 0;
      padding-right: 0;
      padding-top: $logo-size + grid-units();

      .name { display: block; }

      &:after {
        content: "—";
        display: block;
        margin-top: grid-units();
      }
    }

    ul {
      display: block;
      list-style: none;
      padding: 0;
    }
  }
}

.mobile-nav {
  background: #fafafa url(/static/images/ic-close@2x.png) left top no-repeat;
  background-size: 44px 44px;
  height: 100%;
  left: 0;
  padding: grid-units(4);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;

  .nav-items {
    height: 100%;
    position: relative;
    width: 100%;

    ul {
      display: block;
      left: 0;
      list-style: none;
      margin: -162px 0 0;
      padding: 0;
      position: absolute;
      top: 50%;
      width: 100%;

      li {
        border-bottom: 1px solid $color-divider;
        font-size: $font-size-medium;
        line-height: 64px;
        text-align: center;

        &:last-child { border: none; }

        a {
          display: block;
          text-decoration: none;
        }
      }
    }
  }
}