// FONT INCLUDES -----------------------------------------------------------------

@font-face {
	font-family: FFMark;
	font-weight: 300;
	font-style: normal;
	src: url("../fonts/FF Mark/MarkWeb-Light.eot");
	src: url("../fonts/FF Mark/MarkWeb-Light.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 300;
	font-style: italic;
	src: url("../fonts/FF Mark/MarkWeb-LightItalic.eot");
	src: url("../fonts/FF Mark/MarkWeb-LightItalic.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/FF Mark/MarkWeb.eot");
	src: url("../fonts/FF Mark/MarkWeb.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 400;
	font-style: italic;
	src: url("../fonts/FF Mark/MarkWeb-Italic.eot");
	src: url("../fonts/FF Mark/MarkWeb-Italic.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 500;
	font-style: normal;
	src: url("../fonts/FF Mark/MarkWeb-Medium.eot");
	src: url("../fonts/FF Mark/MarkWeb-Medium.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 500;
	font-style: italic;
	src: url("../fonts/FF Mark/MarkWeb-MediumItalic.eot");
	src: url("../fonts/FF Mark/MarkWeb-MediumItalic.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 600;
	font-style: normal;
	src: url("../fonts/FF Mark/MarkWeb-Bold.eot");
	src: url("../fonts/FF Mark/MarkWeb-Bold.woff") format("woff");
}

@font-face {
	font-family: FFMark;
	font-weight: 600;
	font-style: italic;
	src: url("../fonts/FF Mark/MarkWeb-BoldItalic.eot");
	src: url("../fonts/FF Mark/MarkWeb-BoldItalic.woff") format("woff");
}


// TYPE STYLES -------------------------------------------------------------------

html, body {
  color: $color-text;
  font-size: 10px;
  font-family: $font-stack;
  font-weight: $font-weight-normal;
  line-height: $font-leading-normal;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  color: $color-base;
  margin-top: 0;
  margin-bottom: 1em;

  a.view-more-link {
    color: $color-disabled;
    float: right;
    font-weight: 400;
    text-decoration: none;
  }
}

h1 {
  font-size: $font-size-medium;
  line-height: $font-leading-normal;
  font-weight: $font-weight-medium;

  @media #{$large-up} {
    font-size: $font-size-large;
    line-height: $font-leading-large;
    font-weight: $font-weight-normal;
  }
}

h2 {
  font-size: $font-size-normal;
  line-height: $font-leading-normal;
  margin-top: 2em;
}

h3, h4, h5, h6 {
  font-size: $font-size-small;
  letter-spacing: 1px;
  line-height: $font-leading-normal;
  text-transform: uppercase;
}

p, ul, ol, blockquote {
  font-size: $font-size-normal;
  line-height: $font-leading-normal;
  margin: 1em 0;
}

.text-columns {
  -webkit-column-count: 2;
  -webkit-column-gap: $base-grid-unit;
}