---
title: 404: Marko Masnjak - Product Designer

description: Hello. I'm a designer who loves creating product experiences that connect with users on a deep emotional level. I'm a Product Designer at Braintree, snow carver, husband, father, dog lover and coffee addict.

keywords: AIGA, Android, App, Chicago, Design, iOS, Material, Mobile, Product, Responsive, STA Chicago, Society of Typographic Arts, Web
---
<article>
  <header>
    <h1>404: Page Not Found</h1>
  </header>

  <p>I&rsquo;m not entirely sure how you landed here, but how about a joke?</p>
  <blockquote class="joke">Thinking...</blockquote>
</article>
