---
title: 404: Marko Masnjak - Product Designer

description: Hello. I'm a designer who loves creating product experiences that connect with users on a deep emotional level. I'm a Product Designer at Braintree, snow carver, husband, father, dog lover and coffee addict.

keywords: AIGA, Android, App, Chicago, Design, iOS, Material, Mobile, Product, Responsive, STA Chicago, Society of Typographic Arts, Web
---
<section class="content no-image">
  <article>
    <h1>404: Page Not Found</h1>
    <p id="chuck-norris-joke" class="lead-paragraph">
	    <svg class="loader" xmlns="http://www.w3.org/2000/svg" version="1.1" height="20" width="20" viewbox="0 0 32 32">
        <circle cx="16" cy="16" r="15" stroke-width="2"/>
      </svg>
    </p>
    <p><a href="/">&larr; Back to the Homepage</a></p>
  </article>
</section>
