---
title: Marko Masnjak - Product Designer

description: Hello. I'm a designer who loves creating product experiences that connect with users on a deep emotional level. I'm a Product Designer at Braintree, snow carver, husband, father, dog lover and coffee addict.

keywords: AIGA, Android, App, Chicago, Design, iOS, Material, Mobile, Product, Responsive, STA Chicago, Society of Typographic Arts, Web
---
<article>
  <header>
    <h1>
      Hello. I&rsquo;m&nbsp;a product design lead at
      <a href="https://braintreepayments.com" target="_blank">Braintree</a>
      in&nbsp;Chicago.
    </h1>
  </header>

  <p>
    I&rsquo;m passionate about creating user-centered design that embodies
    exceptional clarity, simplicity and high aesthetic. I&nbsp;believe design
    is something to experience and increases the&nbsp;value of anything
    it&nbsp;touches.
  </p>
  <p>
    I like
    <a href="https://www.sketchapp.com" tarbet="_blank">Sketch</a>,
    <a href="https://framer.com" tarbet="_blank">Framer</a>,
    <a href="https://www.vim.org" tarbet="_blank">Vim</a>
    and donuts.
  </p>
</article>
