---
title: Welcome
---

<section>

  <article>
    <h1>I’m a designer who loves creating product experiences that connect with users on a deep emotional level.</h1>

    <h1>Hello. I am a designer who believes in simple, modern design that speaks clearly and provides consistent user experiences across devices. I am the Lead Product Designer for dscout, snow carver, husband, father, dog lover and coffee addict.</h1>
  </article>

</section>

<!-- <section id="dribbble-data" class="grid-block">Loading...</section> -->

<%= partial "_partials/profile" %>
<%= partial "_partials/tweets" %>