---
title: Marko Masnjak - Product Designer

description: Hello. I'm a designer who loves creating product experiences that connect with users on a deep emotional level. I'm a Product Designer at Braintree, snow carver, husband, father, dog lover and coffee addict.

keywords: AIGA, Android, App, Chicago, Design, iOS, Material, Mobile, Product, Responsive, STA Chicago, Society of Typographic Arts, Web
---
<section>
  <article class="feed shots">
    <div class="feed-item">
      <div class="feed-item__loading">
        <svg class="loader" height="24" width="24" viewbox="0 0 32 32">
          <circle cx="16" cy="16" r="15" stroke-width="2"/>
        </svg>
      </div>
    </div>
  </article>

  <article class="feed tweets">
    <div class="feed-item">
      <div class="feed-item__loading">
        <svg class="loader" height="24" width="24" viewbox="0 0 32 32">
          <circle cx="16" cy="16" r="15" stroke-width="2"/>
        </svg>
      </div>
    </div>
  </article>
</section>
