---
title: Marko Masnjak - Product Designer

description: Hello. I'm a designer who loves creating product experiences that connect with users on a deep emotional level. I'm a Product Designer at Braintree, snow carver, husband, father, dog lover and coffee addict.

keywords: AIGA, Android, App, Chicago, Design, iOS, Material, Mobile, Product, Responsive, STA Chicago, Society of Typographic Arts, Web
---

<header class="page-header">
  <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 288 288">
    <path d="M180,324A144,144,0,1,1,324,180,144,144,0,0,1,180,324Zm3.28-198.32a18.5,18.5,0,0,0-26.68,0l-.08.1h0l-70.94,73h0l-.13.11a19.8,19.8,0,0,0,0,27.44,18.5,18.5,0,0,0,26.68,0l.11-.14h0l70.94-73h0l.1-.08A19.8,19.8,0,0,0,183.28,125.68Zm75.15,0a18.5,18.5,0,0,0-26.68,0,19,19,0,0,0-1.49,1.88l-.17-.17-69.35,71.34h0l-.14.12a19.8,19.8,0,0,0,0,27.44,18.5,18.5,0,0,0,26.68,0s.07-.1.12-.15h0l69.35-71.34-.17-.17a18.77,18.77,0,0,0,1.83-1.54A19.8,19.8,0,0,0,258.43,125.68Zm0,73.18a18.5,18.5,0,0,0-26.68,0,19.8,19.8,0,0,0,0,27.44,18.5,18.5,0,0,0,26.68,0A19.8,19.8,0,0,0,258.43,198.87Z" transform="translate(-36 -36)"/>
  </svg>
</header>

<main>
  <article>
    <h1>Hello, my name is Marko. I&rsquo;m&nbsp;a product designer at Braintree in&nbsp;Chicago.</h1>

    <div class="tweets">
      <svg class="loader" xmlns="http://www.w3.org/2000/svg" version="1.1" height="32" width="32" viewbox="0 0 32 32">
        <circle cx="16" cy="16" r="15" stroke-width="2"/>
      </svg>
    </div>
  </article>
  
  <aside class="projects">
    <figure class="project">
      <img src="/lib/images/featured-work/bt-drop-in-mobile.png" alt="Mobile Braintree Drop In for iOS - Marko Masnjak" />
    </figure>
  </aside>
</main>

<footer class="page-footer">
  <a href="https://twitter.com/m_masnjak" target="_blank">Twitter</a>
  <a href="https://dribbble.com/m_masnjak" target="_blank">Dribbble</a>
  <a href="https://www.linkedin.com/in/markomasnjak" target="_blank">LinkedIn</a>
  <a href="https://instagram.com/mmasnjak" target="_blank">Instagram</a>
  <a href="mailto:%68%65%6clo%40m%61r%6b&#111;m%61&#115;%6eja&#107;%2e%63o%6d?subject=Hello">Email</a>
</footer>
