---
title: Marko Masnjak - Product Designer

description: Hello. I'm a designer who loves creating product experiences that connect with users on a deep emotional level. I'm a Product Designer at Braintree, snow carver, husband, father, dog lover and coffee addict.

keywords: AIGA, Android, App, Chicago, Design, iOS, Material, Mobile, Product, Responsive, STA Chicago, Society of Typographic Arts, Web
---
<article>
  <header class="border">
    <div class="content">
      <h1>Hello! My name is Marko. I&rsquo;m&nbsp;a lead product designer at <a class="link" href="https://braintreepayments.com" target="_blank">Braintree</a>/<a href="https://paypal.com" target="_blank">PayPal</a> in&nbsp;Chicago.</h1>

      <p>I&rsquo;m passionate about creating user-centered design that embodies exceptional clarity, simplicity and high aesthetic. I&nbsp;believe design is something to experience and increases the&nbsp;value of anything it&nbsp;touches.</p>
      <p>I like <a href="https://www.sketchapp.com" tarbet="_blank">Sketch</a>, <a href="https://framer.com" tarbet="_blank">Framer</a>, <a href="https://www.vim.org" tarbet="_blank">Vim</a> and donuts.</p>

      <div>
        <a class="content__link" href="https://twitter.com/m_masnjak" target="_blank">Twitter</a>
        <a class="content__link" href="https://dribbble.com/masnjak" target="_blank">Dribbble</a>
        <a class="content__link" href="https://www.linkedin.com/in/markomasnjak" target="_blank">LinkedIn</a>
        <a class="content__link" href="https://instagram.com/mmasnjak" target="_blank">Instagram</a>
        <a class="content__link" href="mailto:%68%65%6clo%40m%61r%6b&#111;m%61&#115;%6eja&#107;%2e%63o%6d?subject=Hello">Email</a>
      </div>
    </div>
  </header>

  <div class="feed border">
    <div class="grid shots">
      <div class="feed-item loading"></div>
    </div>

    <div class="feed__footer">
      <a class="button button--small" href="https://dribbble.com/masnjak" target="_blank">View More</a>
    </div>
  </div>

  <div class="feed tweets">
    <div class="feed-item loading"></div>
  </div>
</article>
