---
title: Welcome
---

<section>

  <article>
    <h1>I’m a designer who loves creating product experiences that connect with users on a deep emotional level.</h1>

    <h1>Hello. I am a designer who believes in simple, modern design that speaks clearly and provides consistent user experiences across devices. I am the Lead Product Designer for dscout, snow carver, husband, father, dog lover and coffee addict.</h1>
  </article>

</section>

<!-- <section id="dribbble-data" class="grid-block">Loading...</section> -->

<section class="content-section">

  <header>
    <h2 class="rule">Latest Tweets</h2>
  </header>

  <article class="tweat-list">
    <a class="twitter-timeline" href="https://twitter.com/m_masnjak" data-widget-id="259728338522873856">Tweets by @m_masnjak</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <div></div>

  </article>

</section>

<section id="about-me" class="content-section">

  <header>
    <h2 class="rule">Profile</h2>
    <img src="http://markomasnjak.com/lib/img/profile.png" />
  </header>

  <article class="description">

    <h2 class="rule">About</h2>

    <p>As a Chicago native, I’m a “get your hands dirty” kind of guy who completely immerses himself into complex design problems that can’t just be Googled. I will experiment, research, review and learn anything possible in order to solve it with a simple, clear, modern design solution.</p>

    <p>As a designer, I’m passionate about typographic design, bringing the elegance of classic modern design to the digital landscape and creating experiences that touch users on a very deep emotional level. I believe that design — regardless of medium — is something to experience and increases the value of anything it touches.</p>

    <p>I’m a proud coffee addict always looking for my next fix. Chicago isn’t a coffee desert by an means, however, I’ve yet to find a cappuccino that even compares to those I’ve enjoyed in Rome, Italy — but there’s still hope.</p>
    <p>Follow me on <a href="" target="_blank">Instagram</a> and read my latest rants on <a href="" target="_blank">Twitter</a>.</p>

    <h2>Companies/Clients I've Worked With</h2>
    <p>American Dental Association, American Express, Base, Casper, Crate&amp;Barrel, Facebook, Google, Groupon, Lightbank, New World Ventures, Samsung, World Wildlife Fund.</p>

  </article>

  <aside>

    <h2 class="rule">Specialties</h2>
    <ul>
      <li>Art Direction</li>
      <li>Brand Identity</li>
      <li>Brochure Design</li>
      <li>iOS App Design</li>
      <li>Material Design</li>
      <li>Product Design</li>
      <li>Responsive Web Design</li>
      <li>User Interface Design</li>
    </ul>

    <h2 class="rule">Involvement</h2>
    <ul>
      <li>AIGA</li>
      <li>STA Chicago</li>
    </ul>
  </aside>

</section>